body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    background-color: white;

}

header, main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}


.container {
    padding: 20px;
}

/* header */
header {
    background-color: #282828;
}

ul {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0;
    font-size: 1.25rem;
    gap: 10px;
}

li {
    color: whitesmoke;
    font-weight: 700;
    list-style: none;
}

li img {
    height: 1em;
}

li a {
    text-decoration: none;
    color: inherit;
}

.burger-logo {
    margin-left: auto;
}

/* main */
main {
    background-color: whitesmoke;
}

/* section */

h1 {
    margin: 0;
    font-weight: 300;
    font-size: 3rem;
}

.item {
    position: relative;
}

.item img {
    display: block;
    margin: 0;
    width: 100%;
}

.exclusive-banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #cd6858;
    padding: 10px 15px;
    color:whitesmoke;
}

.caption {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 20px;
}

.book-btn {
    border: none;
    padding: 10px 15px;
    font-size: inherit;
    font-weight: 700;
    align-self: center;
    background-color: #cd6858;
    color: whitesmoke;
}


/* chatbox */
.chatbox-bg {
    background-color: #dda15e;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    position: fixed;
    bottom: 12px;
}

.chatbox-bg img {
    height: 35px;
    margin: auto;
}
